<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5cca11e197.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/add.css">
    <title>Add New Contact</title>
</head>
<body>
    <div class="box" id="heading">
    <form action="/add-contact" method="POST">
        <div>
        <input type="text" name="newContactName" placeholder="Add First Name" required>
        </div>
        <div>
        <input type="text" name="newContactLastName" placeholder="Add Last Name" required>
    </div>
    <div>
        <input type="text" name="newContactNumber" placeholder="Add Phone Number" required>
    </div>
    
</div>
        <button type="submit" id="add">Add</button>
        </form>
        <form action="/" method="GET">
            <button id="arrow"><i class="fas fa-arrow-left"></i></button>
            </form>

        </div>
</body>
</html>