<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/5cca11e197.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Phonebook</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>Phonebook</h1>
        <hr>
        <% for(let i = 0; i < contacts.length; i++) { %>
        <form action="/delete-contact" method="POST">
        <div class="item">
            <table>
            <tr>
            <td><button id="remove" type="submit" name="delete" value="<%= contacts[i].id %>"><i class="fas fa-trash"></i></button></td>
            <td><p><%= contacts[i].firstname %></p></td>
            <td><p><%= contacts[i].lastname %></p></td>
            <td><p><%= contacts[i].phonenumber %></p></td>
        </tr>
    </table>
        </div>
    </form>
    
<% } %>
<div id="button-add">
<hr>
<form action="/add-user" method="GET">
    <button id="add">Add Contact</button>
    </form>
</div>
</div>
</body>
</html>